@sprite .deleteImageBackground {gwt-image: "delete_16x16";width:18px;height:18px}
@sprite .helpImageBackgroundEleveGroupe {gwt-image: "help_16x16";width:18px;height:18px;margin-left:5px;padding-top:10px;}
@sprite .addImageBackground {gwt-image: "add_16x16";width:18px;height:18px}

@sprite .downloadfichePDF32 {gwt-image: "pdf_32x32";width:32px;height:32px;margin:0px;padding:0px;}
@sprite .emailEleve32 {gwt-image: "mail_32x32";width:32px;height:32px;margin:0px;padding:0px;}
@sprite .noemailEleve32 {gwt-image: "nomail_32x32";width:32px;height:32px;margin:0px;padding:0px;}

@sprite .eleveNavigationDownloadfichePDF24 {gwt-image: "pdf_24x24";width:26px;height:26px;margin:0px;padding-left:0px;padding-top:0px;padding-right:2px;padding-bottom:2px;}
@sprite .eleveNavigationEmailEleve24 {gwt-image: "mail_24x24";width:26px;height:26px;margin:0px;padding:0px;}

.delete16 {text-align:left;}
@sprite .delete16 button {gwt-image: "delete_16x16";width:20px;height:20px;margin:0px;padding:0px;vertical-align:top;}
 td.delete16 {padding:0;border:0;font-size:smaller;}
     
@sprite .listeEleveDownloadfichePDF32 button {gwt-image: "pdf_32x32";width:36px;height:36px;margin:0px;padding:0px;}
td.listeEleveDeleteSprite {padding-left:0;}
@sprite .listeEleveDeleteSprite button {gwt-image: "delete_16x16";width:20px;height:20px;margin:0px;padding:0px;}


.groupEleveWidgetDisable {
    opacity: 0.3;
}

.boldStyle {
font-weight:bold;
}

.eleveGroupViewBasicEleveWidget {
    display: inline-block;
    vertical-align: top;
    min-height: 70px;
    width: 160px;
}

.emailsDiffValues {
}
.keepedValue {
}
.removedValue {
    color: #AA0000;
}
.addedValue {
    color: #0000AA;
}

.epsGroupBoxShadow {
    box-shadow: inset 10px -1px 8px -10px rgba(21,42,176,1);
}
.asGroupBoxShadow {
    box-shadow: inset 10px -1px 8px -10px rgba(16,128,29,1);;
}

