

.cellListWidget {
 
}

.cellListEvenItem {
  background: #ffffff;	
  cursor: pointer;
  zoom: 1;
}

.cellListOddItem {
  background: #f3f7fb;	
  cursor: pointer;
  zoom: 1;
}

.cellListKeyboardSelectedItem {
  background: #ffc;
}

@sprite .cellListSelectedItem {
  gwt-image: 'cellListSelectedBackground';
  background-color: #628cd5;
  color: white;
  height: auto;
  overflow: visible;
}
